

<nav>
  <a href="#" class="logo">
    <div class="logo-mark">M</div>
    <span class="logo-text">Manish</span>
  </a>
  <div class="nav-center">
    <a href="#">Explore</a>
    <a href="#">Trending</a>
    <a href="#">Topics</a>
    <a href="#">Leaderboard</a>
  </div>
  <div class="nav-right">
    <!-- <a href="manish-register.html" class="btn-ghost">Create account</a> -->
     <!-- <a href="#" class="btn-ghost">Sign in</a> -->
    <a href="#" class="btn-accent">Ask a Question</a>
  </div>
  <button class="hamburger" id="hbg" aria-label="Menu">
    <span></span><span></span><span></span>
  </button>
</nav>

<div class="mob-menu" id="mob">
  <a href="#">Explore</a>
  <a href="#">Trending</a>
  <a href="#">Topics</a>
  <a href="#">Leaderboard</a>
  <a href="#">Create account</a>
</div>